/* global rules */
:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-padding:100px;
    --main-transition:0.3s;
    --section-background:#ececec;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
   text-decoration: none;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* start components */
.main-title{
    margin: 0 auto 80px;
    border: 1px solid black;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition);
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}
.main-title::before,
.main-title::after{
    content: '';
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
/* =================== */
.spikes{
    position: relative;
}
.spikes::after{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image:linear-gradient(135deg,white 25%, transparent 25%),
    linear-gradient(225deg,white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots{
    background-image: url('../HTML_And_CSS_Template_Three-main/HTML_And_CSS_Template_Three-main/imgs/dots.png');
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up{
    top: 200px;
    right: 0;
}
.dots-down{
    bottom: 200px;
    left: 0;
}
/* ======================= */
/* end components */
/*  end global rules */
/* small */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}

/* large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

/* end globale rules */

/* start header */
header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo{
    color: var(--main-color-alt);
    font-size: 21px;
    font-weight: bold;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:767px){
    .container .logo{
        width: 100%;
    }
}
header .main-nav{
    display: flex;
}
header .main-nav > li:last-child:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: 100%;
}
header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 0 10px;
    color: black;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width:767px){
    header .container{
        justify-content: center;
    }
    header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;

    }
}
header .main-nav > li > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: skyblue;
    left: -100%;
    top: 0;
}
header .main-nav > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color) ;
}
header .main-nav > li > a:hover::before{
    left: 0;
    transition: 2s;
}
.mega-menu{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    background-color: white;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    z-index: -1;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media(max-width:767px){
    .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.mega-menu .image img{
    max-width: 100%;
}
@media(max-width:991px){
    .mega-menu .image{
        display: none;
    }
}
.mega-menu .links {
   min-width: 200px;
   flex: 1;
}
.mega-menu .links li {
    position: relative;
}
.mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #E9E6E6;
}
@media(max-width:767px){
    .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #E9E6E6;
    }
}
.mega-menu .links li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);

}
.mega-menu .links li:hover:before {
    width: 100%;
}
.mega-menu .links li a {
   color: #1787e0;
   padding: 15px;
   display: block;
   font-size: 18px;
   font-weight: bold;
}
.mega-menu .links li a i {
   margin-right: 10px;
}
/* end header */

/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: '';
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skew(0deg, -10deg);
    transform-origin: left;
}
.landing .container{
    min-height: calc(100vh - 73px);
    display: flex;
    padding-bottom: 100px;
    align-items: center;
}
.landing .container .text{
    flex: 1;
}
@media (max-width:991px){
    .landing .text {
        text-align: center;
    }
}
.landing .container .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width:767px){
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .container .text p{
    font-size: 25px;
    line-height: 1.7;
    margin: 5px 0 0 ;
    color: #666;
}
@media (max-width:767px){
    .landing .container .text p {
        font-size: 18px;
        margin-top: 30px;
    }
}

.landing .image img{
    position: relative;
    width: 600px;
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@media (max-width:991px){
    .landing .image {
        display: none;
    }
}
.landing .go-down{
    position: absolute;
    left: 50%;
    bottom: 59px;
    font-size: 30px;
    transform: translatex(-50%);
    transition: var(--main-transition);
    color: var(--main-color);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: bouncing 1s infinite;
}
/* end lnding */
/* start animation */
@keyframes up-down{
    0%,100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}
@keyframes left-move{
   50% {
        left:0 ;
        width: 12px;
        height: 12px;
    }
    100%{
        left:0 ;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move{
    50% {
         right:0 ;
         width: 12px;
         height: 12px;
     }
     100%{
         right:0 ;
         border-radius: 0;
         width: 100%;
         height: 100%;
     }
 }
/* end animation */
/* start articles */
.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container{
    display: flex;
    flex-basis: 15%;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.articles .container .box{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.151);
    transition: var(--main-transition);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
@media(max-width:767px){
    .articles .container .box{
        flex-basis: 100%;
    }
}
.articles .container .box:hover{
    transform: translateY(-10px);
    box-shadow: -1px 1px 10px 0px black;

}
.articles .container .box img{
    width: 100%;
}
.articles .container .content{
    padding: 20px;
}
.articles .container .content h2{
    font-weight: 600;
    font-size: 20px;
}
.articles .container .content p{
    margin-top: 15px;
    color: #666;
}
.articles .container .info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.articles .container .info p{
   color: #2196f3;
    font-weight: 900;
    font-size: 13px;
}
.articles .container .info i{
    color: #2196f3;
    width: 20px;
}
.articles .container .box:hover i{
    animation-name: more;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes more{
    0%{
        padding-left: 0px;
    }
    100%{
        padding-left: 10px;
    }
}
/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.233);
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before{
    animation-name: flashing;
    animation-duration: 0.7s;
}
@keyframes flashing{
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.gallery .box img{
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.3);
}
/* end gallery */
/* start features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white ;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.features .container .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .container .box .img-holder{
    position: relative;
    overflow: hidden;
}
.features .container .box .img-holder::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .container .box .img-holder::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .container .box .img-holder img{
    max-width: 100%;
}
.features .box:hover .img-holder::after{
    border-width: 170px 500px 170px 0px;
}
.features .container .box h2{
    position: relative;
    margin: auto;
    width: fit-content;
    font-size: 30px;
}
.features .container .box h2::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;

    width: calc(100% - 30px);
}
.features .container .box p{
    line-height: 2;
    font-size: 15px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}
.features .box a{
    display: block;
    border: 3px solid red ;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    transition: var(--main-transition);
}

.features .quality .img-holder::before{
    background-color: #f43f368c;
}
.features .quality h2::after{
    background-color: #f44036;
}
.features .quality a{
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before{
    background-color: #009688;
}
.features .time h2::after{
    background-color: #009688;
}
.features .time a{
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time .img-holder::before{
    background-color: #00968780;
}

.features .passion .img-holder::before{
    background-color: #03a9fa;
}
.features .passion h2::after{
    background-color: #03a9fa;
}
.features .passion a{
    color: #03a9fa;
    border-color: #03a9fa;
    background: linear-gradient(to right, #03a9fa 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion .img-holder::before{
    background-color: rgba(0, 51, 170, 0.752);
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
}
/* end features */
/* start testimonials */
.testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-background);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.testimonials .container .box{
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px rgb(0 0 0 / 12%);
    border-radius: 6px;
    position: relative;
}
.testimonials .container .box img{
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: -10px;
    border: 10px solid var(--section-background);
}
.testimonials .container .box h3{
    margin: 0 0 10px;
    color: var(--main-color-alt);
}
.testimonials .container .box p{
    color: #777;
    line-height: 1.5;
    margin-top: 10px;
}
.testimonials .container .box .title{
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .container .box .rate .filled{
    color: #ffc107;
}
/* end testimonials */
/* start team  */
.team{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.team .container .box{
   position: relative;
   cursor: pointer;
}
.team .container .box::before,
.team .container .box::after{
    content: '';
    background-color: #f3f3f3;
    position: absolute;
    height: 100%;
    border-radius: 10px;
    right: 0;
    top: 0;
    transition: var(--main-transition);
 }
 .team .container .box::before{
    width: calc(100% - 60px);
    z-index: -2;
 }
 .team .container .box::after{
    width: 0;
    background-color:#e4e4e4;
    z-index: -1;
 }
 .team .box:hover::after{
    width: calc(100% - 60px);
 }

.team .container .box .data{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.team .container .box .data img{
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
.team .box:hover img{
    filter: grayscale(100%);
}
.team .container .box .data .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.team .container .box .data .social a{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .container .box .data .social a:hover i{
    color: var(--main-color);
}
.team .container .box .data .social i{
   color: #777;
   transition: var(--main-transition);
   font-size: 16px;
}
.team .container .box .info{
    padding-left:90px;
}
.team .container .box .info h3{
    color: var(--main-color);
    margin-bottom: 0;
    font-size: 22px;
    padding-top: 10px;
    transition: var(--main-transition);
}
.team .container .box:hover .info h3{
    color: #777;
}
.team .container .box .info p{
    color: #777;
    margin: 10px 0 25px;
}
/* end end  */
/* start services */
.services{
    background-color: var(--section-background);
    padding-top:var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.services .container .box{
    background-color:white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 12%),0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .container .box::before{
    content: '';
    top: -3px;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    width: 10px;
    background-color: #1787e0;
    height: 3px;
    width: 0;
    transition: var(--main-transition);
}
.services .container .box:hover{
    transform: translatey(-10px);
}
.services .container .box:hover::before{
    width: 100%;
}
.services .box > i{
    margin: 40px auto;
    display: block;
    color: #D5d5d5;
    text-align: center;
}
.services .box > h1{
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: #03a9fa;
}
.services .box .info{
    position: relative;
    padding: 15px;
    text-align: right;
    background-color: #f9f9f9;
}
.services .box .info::before{
    content: '0' counter(services);
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    color: white;
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    padding-right: 15px;
}
.services .box .info::after{
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    width: 55px;
    height:calc(100% + 0.9px);
    background-color: #d5d5d5;
    transform: skewx(-25deg);
}
.services .box .info a{
    color: var(--main-color-alt);
    font-weight: 600;
}
/* end services */
/* start skills */
.our-skills{
   padding-top: var(--main-padding);
   padding-bottom: var(--main-padding);
   position: relative; 
}
.our-skills .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:991px){
    .our-skills .container img{
        display: none;
    }
}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0 10px;
}
.our-skills .skill h3 span{
    border: 1px solid #ccc;
    color: var(--main-color);
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 10px;
}
.our-skills .skill .progress{
    height: 25px;
    background-color: #eee;
    position: relative;
}
.our-skills .skill .progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #1787e0;
}
/* end skills */
/* start works */
.our-works{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-background);
}
.our-works .container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
}
.our-works .works{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.our-works .works .work{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #f5f3f3;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
}
.our-works .works .work::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #aaaaaa13;
    transition: var(--main-transition);
}
.our-works .works .work:hover::before{
    width: 100%;
    height: 100%;
}
.our-works .works .work img{
    width: 64px; 
    max-width: 100%;
}
@media(max-width:991px){
.our-works .container > img{
     display: none;
}
.our-works .container .works .work{
    display: flex;
    flex-direction: column;
}
.our-works .container .works .work img{
    margin-top: 15px;
}
}
.our-works .works .work .info{
    padding-left: 18px;
}
.our-works .works .work .info h3{
    padding-top: 30px;
}
.our-works .works .work .info p{
    line-height: 2;
    color: #777;
    margin: 12px 0 ;  
}
/* end works */
/* start events */
.events{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .container img{
    max-width: 450px;
}
@media(max-width:991px){
    .events .container img{
        display: none;
    }
}
.events .container .info{
    flex: 1;
}
.events .container .time{
   display: flex;
   align-items: center;
   margin: 20px auto;
   gap: 10px;
   justify-content: center;
}
.events .container .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    align-items: center;
    width: 75px;
    transition: var(--main-transition);

}
.events .container .time .unit span{
    display: block;
    text-align: center;
}
.events .container .time .unit span:first-child{
    font-size: 35px;
    padding: 15px;
    color: #03a9fa;
    font-weight: bold;
}
.events .container .time .unit span:last-child{
    padding: 8px 15px;
    font-size: 12px;
    border-top:1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .container .time .unit:hover,
.events .container .time .unit:hover span:last-child{
    border-color: #03a9fa;
}
.events .container .title{
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}
.events .container .description{
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    color: #777;
    margin-top: 10px;
}
.events .container .subscribe{
    width: 100%;
    margin-top: 100px;
}
.events .container .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media(max-width:767px){
    .events .container .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}
.events .container .subscribe form input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    flex: 1;
    caret-color: #1787e0;
    border: none;
}
@media(max-width:767px){
.events .container .subscribe form input[type="email"]{
    border-radius: 0;
    }
    .events .container .subscribe form input[type="submit"]{
        border-radius: 0;
    }
}
.events .container .subscribe form input[type="submit"]{
    border: none;
    background-color: #03a9fa;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
    border-radius: 50px;
    padding: 20px;
}
@media(max-width:767px){
.events .container .subscribe form input[type="submit"]{
    border-radius: 0;
}
}
/* ened events */
/* start princing */
.princing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-background);
}
.princing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.princing .container .box{
    background-color: white;
    text-align: center;
    /* padding: 20px 0; */
    box-shadow: 0px -1px 9px 6px rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    position: relative;
    z-index: 1;
}
.princing .box::before,
.princing .box::after{
    content: "";
    height: 50%;
    width: 0px;
    position: absolute;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.princing .box::before{
    left: 0;
    top: 0;
}
.princing .box::after{
    right: 0;
    bottom: 0;
}
.princing .box:hover::before,
.princing .box:hover::after{
    width: 100%;
}
@media(min-width:1100px){
.princing .container .active{
    top: -40px;
}
}
.princing .container .active .label{
    position: absolute;
    writing-mode: vertical-rl;
    background-color: #1787e0;
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
}
.princing .container .active .label::before{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}
.princing .container .box h3{
    font-size: 25px;
    margin: 15px 0;
}
.princing .container .box img{
    width: 100px;
    margin: 20px 0;
}
.princing .container .box > p{
    font-size: 50px;
    color:#1787e0;
    font-weight: bold;
}
.princing .container .box span{
    color: #777;
}
.princing .container .box .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0;
}
.princing .container .box .info li {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
}
.princing .container .box .info li{
    border-top: 1px solid #d5d5d5;
}
.princing .container .box .info li i{
    color: #1787e0;
}
.princing .container .box input[type="submit"]{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--main-color-alt);
    color: #03a9fa;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
    transition: var(--main-transition);
    margin-bottom: 20px;
}
.princing .container .box input[type="submit"]:hover{
    background-color: #1787e0;
    color: white;
}
/* end princing */
/* .start videos */
.videos{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.videos .container .holder{
       display: flex;
       justify-content: center;
       background-color: var(--section-background);
       border: 1px solid #ddd;
}
@media(max-width:991px){
    .videos .container .holder{
        flex-direction: column;
    }
}
.videos .container .holder .list{
    min-width: 300px;
    background-color: white;

}
.videos .container .holder .list .name{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-weight: bold ;
    background-color: var(--section-background);
}
.videos .container .holder .list ul li{
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}
.videos .container .holder .list ul li:hover{
    background-color: var(--section-background);
    color: #03a9fa;
}
.videos .container .holder .list ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.videos .container .holder .preview{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .container .preview img{
    max-width: 100%;
}
.videos .container .holder .preview .info{
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}
/* end videos */
/* .stats::before{ */
.stats{
    padding-bottom: var(--main-padding);
    padding-top: var(--main-padding);
    margin-bottom: var(--main-padding);
    background-image: url('../HTML_And_CSS_Template_Three-main/HTML_And_CSS_Template_Three-main/imgs/stats.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f6f5f5f2;
    width: 100%;
    height: 100%;
}
.stats .container{
    position: relative;
}
.stats .container h1{
    display: block;
    text-align: center;
    margin-bottom: 62px;
}
.stats .container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@media(max-width:991px){
    .stats .container .info{
    flex-direction: column;
    }
}
.stats .container .info .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: white;
    padding: 30px 10px;
    position: relative;
}
.stats .container .info .box::before,
.stats .container .info .box::after{
    content: '';
    position: absolute;
    transition: var(--main-transition);
    background-color: var(--main-color-alt);
    height: 0;
}
.stats .container .info .box::before{
    left: 0;
    top: 0;
    width: 5px;
}
.stats .container .info .box::after{
    right: 0;
    bottom: 0;
    width: 5px;
}
.stats .container .info .box:hover:before,
.stats .container .info .box:hover:after{
   height: 100%;
}
.stats .container .info .box span{
    font-size: 40px;
    margin: 15px;
    font-weight: 700;
}
.stats .container .info .box p{
    font-style: italic;
    font-weight: 700;
    color: #03a9fa;
}
/* .stats::before{ */

    /* start request */
.request{
    display: flex;
}
@media(max-width:991px){
    .request{
        flex-direction: column;
    }
}
.request .left-side{
    position: relative;
    flex: 1;
    background-image: url('../HTML_And_CSS_Template_Three-main/HTML_And_CSS_Template_Three-main/imgs/discount-background1.jpg');
    background-size: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}
.request .left-side::before{
    content: '';
    position: absolute;
    right: 0;
    top:0 ;
    width: 100%;
    height: 100%;
    background-color: #03a8faf8;
}
.request .left-side .text{
    position: relative;
    text-align: center;
}
.request .left-side .text h1{
    padding-top: 61px;
    color: white;
}
.request .left-side .text p{
    line-height: 2;
    color: white;
    padding: 10px 40px;
}
.request .left-side .image{
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 52px;
}
.request .left-side .image img{
    width:300px;
    max-width: 100%;
}
.request .right-side{
    flex: 1;
}
.request .right-side h1{
    text-align: center;
    margin: 84px 10px 20px;
}
.request .right-side .count{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.request .right-side .count input{
    width: 350px;
    height: 40px;
    padding: 20px 15px;
    background-color: #ECECEC;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
}
.request .right-side .count .input{
    height: 120px;
    width: 350px;
    padding: 20px 15px;
    background-color: #ECECEC;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
    resize: none;
}
.request .right-side .count .input,
.request .right-side .count input:focus{
    outline: none;
}
.request .right-side .count input:nth-child(5){
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 18px;
    font-weight: bolder;
    height: 52px;
    color: white;
    background-color: #03a9fa;
    cursor: pointer;
    transition: var(--main-transition);
}
.request .right-side .count input:nth-child(5):hover{
    background-color: #1787e0;
}
    /* end request */
    /* start footer */
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.footer .container .box h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
}
.footer .container .box .social{
    display: flex;
}
.footer .container .box .social li{
    margin-right: 10px;
    transition: var(--main-transition);
}
.footer .container .box .social li a{
    background-color: #313131;
    color:#b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.footer .box .social .facebook:hover{
    background-color: #1877f2;
}
.footer .box .social .twitter:hover{
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover{
    background-color: #ff0000;
}
.footer .box .text{
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover{
    padding-left: 10px;
}
.footer .box .links li:hover a{
    color: white;
}
.footer .box .links li a{
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li i{
    color: #1787e0;
    margin-right: 10px;
}
.footer .box .line{
    display: flex;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .box .line i{
    font-size: 25px;
    margin-right: 10px;
    color: #03a9fa;
}
.footer .box .line .info{
    line-height: 2;
    flex: 1;
}
.footer .footer-gallery img{
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .coppyright{
    padding: 25px 0;
    text-align: center;
    margin: 50px 0 0;
    border-top: 1px solid #444;
    color: white;
}
    /* end footer */